.cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F0F2F5FF;
    margin: 30px 0px 0px 0px;
    padding: 24px 0px 24px 0px;
    border-radius: 22px;
}
.lot-cards {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    /* overflow-x: hidden; */
}
.slide {
    width: 100%;
    display: flex;
    position: relative;
    transition: all ease 0.6s;
}
.slide-panel {
    width: 80%;
    overflow-x: hidden;
}
.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0957CBFF;
    border: none;
    background: none;
    height: 50px;
    width: 50px;
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width: 721px){
    .cards {
        top: 200px;
        z-index: 1;
    }
}