.card-page {
    display: flex;
    justify-content: center;
    padding: 20px;

}
.card-page .container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.price {
    background: #F4F4F4;
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.card-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.address {
    color: gray;
}
.description {
    background: #F4F4F4;
    padding: 20px;
    border-radius: 22px;
    width: 50%;
    font-size: 17px;
    
}
.data {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 721px){
    .description {
        width: 100%;
    }
    .data {
        flex-direction: column;
    }
}
@media screen and (max-width: 991px){
    .card-page {
        padding: 10px;
    }
    .card-page .container {
        width: 100%;
    }
}