.el-card {
    width: 100%;
    min-height: 320px;
    background: #fff;
    color: #333;
    border-radius: 17px;
    cursor: pointer;
}
.card-img {
    border-radius: 17px 17px 0px 0px;
    height: 270px;
    object-fit: cover;
}
.card-like-icon {
    font-size: 22px;
    color: rgb(211, 211, 211);
    transition: all ease .4s;
}
.card-data {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 13px;
}
.card-address {
    color: gray;
}
.card-price {
    font-size: 22px;
}
.card-head {
    position: relative;
}
.card-id {
    background: #F4F4F4;
    border-radius: 7px;
    padding: 5px;
    width: 50%;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 13px 13px 13px;
}
.el-card-link {
    text-decoration: none;
    color: #333;
}
@media screen and (max-width: 1356px){
    .el-card {
        min-width: 50%;
    }
}
@media screen and (max-width: 721px){
    .el-card {
        min-width: 100%;
    }
}