.cards {
    width: 100%;
    padding: 0px 60px 0px 60px;
    position: relative;
}
.cards-carousel {
    display: flex;
    overflow-x: scroll;
    background: #F4F4F4;
    border-radius: 22px;
    padding: 30px;
    gap: 30px;
}
@media screen and (max-width: 821px){
    .cards {
        padding: 0px 20px 0px 20px;
        top: 200px;
    }
}