.cards-swiper-panel {
    padding: 25px;
    background: #F0F2F5FF;
    border-radius: 25px;
    margin: 35px;
    transition: all ease .5s;
}
@media screen and (max-width: 721px){
    .cards-swiper-panel {
        position: relative;
        top: 220px;
        margin: 0px;
        padding: 15px;
    }
}