.cards-swiper-panel {
  padding: 25px;
  background: #f0f2f5ff;
  border-radius: 25px;
  margin: 15px;
  transition: all ease 0.5s;
}
.custom-prev-button,
.custom-next-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #1C1E2B;
  color: #fff;
}
@media screen and (max-height: 680px){
  .cards-swiper-panel {
    position: relative;
    top: 300px;
    margin: 0px;
    padding: 15px;
  }
}
@media screen and (max-width: 790px) {
  .cards-swiper-panel {
    position: relative;
    top: 50px;
    margin: 0px;
    padding: 15px;
  }
}
