.cards-swiper-panel {
  padding: 25px;
  background: #f0f2f5ff;
  border-radius: 25px;
  margin: 35px;
  transition: all ease 0.5s;
}
@media screen and (max-height: 680px){
  .cards-swiper-panel {
    position: relative;
    top: 300px;
    margin: 0px;
    padding: 15px;
  }
}
@media screen and (max-width: 790px) {
  .cards-swiper-panel {
    position: relative;
    top: 100px;
    margin: 0px;
    padding: 15px;
  }
}
