.home-filters {
  background: #fff;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  top: 180px;
  padding: 15px;
  display: flex;
  z-index: 5;
  justify-content: space-between;
  transition: all ease 0.5s;
}
.filter-tabs {
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.type-btn {
  padding: 13px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  color: #000000;
  background: #f4f4f4;
  font-size: 16.5px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all ease 0.5s;
}
.type-icon {
  color: #246bfdff;
  font-size: 22px;
}
.active > .type-icon {
  color: #fff;
}
.filter-tabs > .active {
  transition: all ease 0.5s;
  background: #246bfdff;
  color: #fff;
}
.search-inpt {
  border-radius: 22px;
  border: none;
  outline: none;
  color: #000000;
  background: #f4f4f4;
  padding: 15px;
  width: 100%;
}
.price-inpt {
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 22px;
  color: #000000;
  background: #f4f4f4;
}
.num-inputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 10px;
}
.more-btn {
  height: 50px;
  border: none;
  border-radius: 22px;
  padding: 12px 20px 12px 20px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f4f4f4;
  cursor: pointer;
  transition: all ease 0.5s;
}
.search-btn {
  height: 50px;
  border: none;
  border-radius: 22px;
  padding: 12px 20px 12px 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #246bfdff;
  cursor: pointer;
}
.search-btn > .type-icon {
  color: #fff;
}
.filter-btns {
  display: grid;
  gap: 10px;
}
.filter-checks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  transition: all ease 0.5s;
}
.filter-btns > .active {
  background: #0957cbff;
  color: #fff;
}
.filter-checks-panel {
  display: flex;
  flex-direction: column;
}
.filter-checks-panel > div {
  display: flex;
  align-items: center;
  gap: 8px;
  color: gray;
  cursor: pointer;
}
.filter-new {
  display: flex;
  color: #000000;
  align-items: center;
  gap: 7px;
  padding: 12px;
  background: #f4f4f4;
  border-radius: 22px;
  border: none;
  font-size: 16.5px;
  cursor: pointer;
}
.filter-selects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.select-region {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 22px;
  background: #f4f4f4;
  color: #333;
  outline: none;
  cursor: pointer;
  padding: 12px;
}
.select-region-panel {
  display: flex;
  align-items: center;
  gap: 20px;
}
.adm-region {
  display: flex;
  flex-direction: column;
}
.adm-region > div{
  display: flex;
  gap: 8px;
  align-items: center;
}
@media screen and (max-width: 721px) {
  .home-filters {
    top: 140px;
  }
  .type-btn:hover {
    transform: none;
  }
}
@media screen and (max-width: 589px) {
  .filter-btns {
    grid-template-columns: 1fr 1fr;
  }
}
