.home-filters {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
}
.home-filters form {
  position: relative;
  top: 150px;
  width: 70%;
  min-width: 780px;
  display: grid;
  gap: 10px;
  z-index: 5;
}
.rent-or-sell {
  height: 70px;
  background: #fff;
  width: 330px;
  border-radius: 20px;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: bold;
}
.all-filters {
  width: 100%;
  height: 80px;
  background: #fff;
  padding: 13px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all ease 0.5s;
}
.rent-or-sell {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rent-or-sell label {
  background: #f0f2f5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 12px;
  height: 40px;
  cursor: pointer;
}
.search-btn {
  height: 42px;
  min-width: 170px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  background: green;
  transition: all ease 0.3s;
}
.search-btn:hover {
  opacity: 70%;
}
.all-types {
  position: absolute;
  background: #fff;
  bottom: -110px;
  padding: 12px;
  display: grid;
  border-radius: 10px;
}
.all-types div {
  height: 45px;
}
.select-container {
  max-width: 300px;
  margin: 20px auto;
}
input[type="radio"] {
  display: none;
}
.rent-or-sell input[type="radio"]:checked + label {
  background-color: #1c1e2bff;
  color: #fff;
}
.fill-div {
  width: 19%;
  height: 42px;
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5ff;
  padding: 17px;
  cursor: pointer;
  border-radius: 12px;
  color: #333;
  font-weight: bold;
}
.filter-panel {
  position: absolute;
  display: none;
  top: 160px;
  z-index: 999;
  padding: 15px;
  width: 200px;
  background: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.active {
  display: block;
}
.filter-check {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: all ease 0.4s;
  height: 43px;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 7px;
  background: #f0f2f5ff;
}
.filter-check:hover {
  border-radius: 7px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label {
  background-color: #1c1e2bff;
  color: #fff;
}
.regions {
  height: 350px;
  overflow-y: auto;
}
.regions::-webkit-scrollbar {
  width: 5px;
}

.regions::-webkit-scrollbar-thumb {
  background-color: rgb(157, 157, 158);
  border-radius: 5px;
}

.regions::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.fill-icon {
  font-size: 20px;
}
.fill-name {
  display: flex;
  align-items: center;
  gap: 7px;
}
.more-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.opened {
  color: #fff;
  background: #1c1e2bff;
}
.search-id {
  height: 43px;
  max-width: 450px;
  font-size: 15px;
  width: 100%;
  background: #f0f2f5ff;
  color: #333;
  border-radius: 12px;
  font-weight: bold;
}
.search-id::placeholder,
.search-floor::placeholder {
  color: #636363;
  font-weight: bold;
}
.search-floor {
  height: 43px;
  font-size: 15px;
  width: 100%;
  background: #f0f2f5ff;
  color: #333;
  border-radius: 12px;
  font-weight: bold;
}
.floor-data {
  display: flex;
  gap: 10px;
}
.first-panel {
  display: flex;
  width: 100%;
  gap: 10px;
}
.first-panel > .fill-div {
  max-width: 450px;
  width: 100%;
  color: #636363;
}
@media screen and (max-width: 560px) {
  .first-panel {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 790px) {
  .search-btn {
    width: auto;
  }
  .fill-div {
    width: auto;
    height: 43px;
  }
  .all-filters {
    padding: 20px;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
  }
  .home-filters form {
    min-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .rent-or-sell {
    width: 100%;
  }
}
