header {
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../img/header-picture.jpg);
}
.header-contact {
    padding: 0px 60px 0px 60px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}
.header-phone {
    color: #fff;
    text-decoration: none;
    background: #0957CBFF;
    padding: 12px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all ease .5s;
}
.header-btn {
    padding: 14px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all ease .5s;
}
.header-select {
    padding: 12px 20px 12px 12px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all ease .5s;
    outline: none;
    font-size: 14px;
    
}
.header-select:focus {
    transform: scale(1.07);
    /* border-radius: 22px 22px 0px 0px; */
}
.header-phone:hover, .header-btn:hover, .header-select:hover {
    transform: scale(1.07);
}
option {
    height: 50px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding: 10px 5px;
}
.drop-menu {
    height: 40px;
    padding: 12px;
    border: none;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}
@media screen and (max-width: 721px){
    header {
        height: 50vh;
    }
    .header-btn, .header-select {
        display: none;
    }
    .drop-menu {
        display: flex;
        align-items: center;
    }
    .header-contact {
        padding: 0px 20px 0px 20px;
    }
}