header {
  height: 40vh;
  min-height: 540px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url(../../img/IMG_4410.JPG);
}
.header-contact {
  padding: 0px 60px 0px 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.header-phone {
  color: #fff;
  text-decoration: none;
  background: #1c1e2bff;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all ease 0.5s;
  height: 41px;
}
.header-btn {
  color: #fff;
  padding: 14px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #1c1e2bff;
  transition: all ease 0.5s;
}
.header-select {
  padding: 12px 20px 12px 12px;
  border: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  border-radius: 12px;
  cursor: pointer;
  background: #f0f2f5ff;
  transition: all ease 0.5s;
  color: #333;
  outline: none;
  font-size: 14px;
}
.header-select:focus {
  transform: scale(1.07);
}
.header-phone:hover,
.header-btn:hover,
.header-select:hover {
  transform: scale(1.07);
}
.drop-menu {
  background: #f0f2f5ff;
  height: 44px;
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  color: #333;
  display: none;
}
.filters-panel {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-inf {
  padding: 0px 60px 0px 60px;
  color: #fff;
  font-size: 30px;
}
.droped-menu {
  border-radius: 12px;
  padding: 10px;
  width: 200px;
  background: #fff;
  z-index: 5;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: 80px;
}
.droped-header-btn {
  width: 100%;
  border-radius: 12px;
  height: 44px;
  padding: 12px;
  border: none;
  background: #1c1e2bff;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}
.droped-header-select {
  width: 100%;
  height: 44px;
  border-radius: 12px;
  border: none;
  background: #f0f2f5ff;
  padding: 12px;
  color: #333;
  margin-top: 5px;
  cursor: pointer;
  display: flex;
  gap: 7px;
}
.droped-header-select b {
  font-size: 14px;
}
.header-menu {
  width: 100%;
  position: fixed;
  z-index: 15;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 60px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.header-logo {
  color: #fff;
  cursor: pointer;
  position: relative;
}
.header-btn-link {
  text-decoration: none;
}
.liked-num {
  background: #f0f2f5ff;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  color: #333;
}
.like-icon {
  color: rgb(245, 81, 81);
}
.liked-panel {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 6;
}
.select_lang {
  position: absolute;
  margin-top: 10px;
  display: grid;
  gap: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
.lang_panel {
  display: grid;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}
.select_lang > img,
.lang_panel > img {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 3px;
}
.selects {
  width: 80px;
  top: 80px;
  z-index: 99;
  padding: 12px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: absolute;
  background: #fff;
  color: #333;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0px 0px 13px 13px;
}
.select-p {
  height: 40px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #f0f2f5ff;
  border-radius: 12px;
}
.droped-menu > .liked-num {
  margin-top: 5px;
}
@media screen and (max-width: 390px) {
  header {
    height: 60vh;
  }
}
@media screen and (max-width: 721px) {
  .header-contact > .header-btn-link,
  .header-select,
  .header-contact > .liked-num {
    display: none;
  }
  .drop-menu {
    display: flex;
    align-items: center;
  }
  .header-contact {
    gap: 9px;
    padding: 0px 10px 0px 10px;
  }
}
@media screen and (max-width: 991px) {
  .header-menu {
    justify-content: space-between;
    padding: 0px;
  }
}
