.liked-cards-panel {
  width: 90%;
  max-height: 80vh;
  background: #f0f2f5ff;
  position: fixed;
  top: 100px;
  z-index: 6;
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
  gap: 30px;
  padding: 25px;
  animation: liked-cards 0.7s;
}
@keyframes liked-cards {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
.liked-cards-section {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
}
.l-card {
  width: 400px;
}
.liked-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.close-btn {
  color: #fff;
  border: none;
  background: #1C1E2B;
  font-size: 22px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
}
@media screen and (max-width: 501px) {
  .l-card {
    width: 100%;
  }
}
